@use "../styles/variables" as variables;
@use "../styles/mixins" as mixins;

%viewport-container {
    @include mixins.box($height: auto);
    @include mixins.flow($gap: 0);

    min-height: 100dvh;
}

%page-blocks {
    @include mixins.box($bg-color: background);
    @include mixins.flex($direction: column);
    @include mixins.flow;

    padding: variables.$spacing-5;
}

%page-layout {
    @include mixins.grid;
    @include mixins.flow;

    grid-template-columns: min(100%, variables.$max-layout);
}

%flex-box {
    @include mixins.box;
    @include mixins.flex;
    @include mixins.flow;
}

%grid-box {
    @include mixins.box;
    @include mixins.grid;
    @include mixins.flow;
}

%button {
    @include mixins.box($width: max-content);
    @include mixins.typography;

    border: none;
    cursor: pointer;
}

%typography {
    @include mixins.box;
    @include mixins.typography;
}

%link {
    @include mixins.box;
    @include mixins.typography;

    text-decoration: none;
}
