$max-layout: 96rem;

$spacing-1: 0.125rem;
$spacing-2: 0.25rem;
$spacing-3: 0.5rem;
$spacing-4: 0.75rem;
$spacing-5: 1rem;
$spacing-6: 1.25rem;
$spacing-7: 1.5rem;
$spacing-8: 1.75rem;
$spacing-9: 2rem;
$spacing-10: 2.5rem;
$spacing-11: 3rem;
$spacing-12: 3.5rem;
$spacing-13: 4rem;
$spacing-14: 5rem;
$spacing-15: 6rem;
$spacing-max: 999rem;

$line-sm: 0.0625rem;
$line-base: 0.125rem;
$line-lg: 0.625rem;

$radius: 0.5rem;

$shadow-surface: 0 0.125rem 0.25rem 0rem rgba(0, 0, 0, 0.6);
$shadow-interactive: 0 0.25rem 0.5rem 0rem rgba(255, 156, 66, 0.25);

$color-brand: #ff8310;
$color-background: #232323;
$color-primary: #fff;
$color-secondary: #ccc;
$color-surface: #232323;
$color-surface-light: #2b2b2b;
$color-surface-dark: #191a20;
$color-interactive: #ff9c42;

$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-base: 1rem;
$font-size-lg: 1.25rem;
$font-size-xl: 1.5rem;
$font-size-2xl: 2rem;
$font-size-3xl: 2.75rem;

$font-family: "Poppins", sans-serif;

$icon-size-sm: 1rem;
$icon-size-base: 1.5rem;
$icon-size-lg: 2rem;

$breakpoint-xs: 30rem;
$breakpoint-sm: 40rem;
$breakpoint-base: 48rem;
$breakpoint-lg: 64rem;
$breakpoint-xl: 80rem;
$breakpoint-2xl: 96rem;
